.env
.env.bak
jouer/.env
jouer/scenes/*/.history/
jouer/scenes/*/.lock
storage/*.sqlite
storage/*.sqlite-journal
storage/*.sqlite-wal
storage/*.sqlite-shm
storage/logs/*
!storage/logs/.gitkeep
!storage/.gitkeep
.idea/
.vscode/
Thumbs.db
Desktop.ini
.DS_Store
*.log
